body { 
  margin: 0px;
  background-color: #1D1128;
}

h1 {
  color: #1D1128;
  font-size: 80px;
  margin-bottom: 0px;
}

div .container {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div .box {
  background-color: #E5D4ED;
  height: 100%;
  width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

div .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
div .linkButton {
  border: none;
  width: 300px;
  background-color: #5941A9;
  padding: 30px;
  color: #E5D4ED;
  font-size: 24px;
  border-radius: 10px;
}

div .linkButton:hover {
  background-color: #4e3897;
  cursor: pointer;
}

div .player-form {
  height: 700px;
  
}

div .users-list {
  margin-top: 50px;
  height: 600px;
  width: 60%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

div .games-list {
  margin-top: 50px;
  height: 600px;
  width: 60%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

hr {
  width: 95%;
  margin-left: -5%;
}

.backButton {
  margin: 10px 10px -50px 10px;
  background-color: #4e3897;
  border: none;
  border-radius: 7px;
  padding: 10px;
  color: #E5D4ED;
}
.backButton:hover {
  background-color: #5941A9;
  cursor: pointer;
}

.backLink {
  align-self: flex-start;
  
}

.player-input {
  border-radius: 10px;
  border: none;
  width: 296px;
  height: 40px;
  background-color: #eee3f3;
  color: #1D1128;
}

.ngContent {
  margin-bottom: 100px;
}

#sv-players {
  border: none;
  border-radius: 5px;
  background-color: #4e3897;
  color: #E5D4ED;
  margin-top: 10px;
}

#sv-players:hover {
  background-color: #5941A9;
  cursor: pointer;
}

div #game-box {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
div .game-players {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: -150px;
}
.player-name { 
  font-size: 40px;
  justify-self: center;
  grid-area: 1 / 1 / 2 / 3; 
}

.add-win { 
  border: none;
  border-radius: 7px;
  background-color: #4e3897;
  color: #E5D4ED;
  height: 50px;
  align-self: center;
  grid-area: 1 / 3 / 2 / 4; 
}

.add-win:hover {
  background-color: #5941A9;
  cursor: pointer;
}

.player-wins { 
  font-size: 20px;
  justify-self: center;
  grid-area: 2 / 1 / 3 / 3; 
}

#current-winner {
  margin-top: -100px;
}